.error-msg{
    color: #BD1919;
}
.success-msg{
    color: #0000ee;
}

.width100{
    width: 100%;
}
.top-5 {
    top: 5px;
}
.circle-70 {
    border: 1px solid;
    height: 70px;
    width: 70px;
    border-radius: 50%;
    line-height: 70px;
    background-color: white;
}
.text-center {
    text-align: center;
}

.f-22 {
    font-size: 22px;
}

.shadow{
    box-shadow: 0px 11px 10px;
}

.pos-abs{
    position: absolute;
    z-index: 9999;
}
.top-margin-30{
    top: 30px;
}

.top-margin-50{
    margin-top: 50px;
}

.centering{
    float:none;
    margin:0 auto
}

.cursor-pointer {
    cursor: pointer;
}