<div class="col-sm-6 col-sm-offset-3">
    <h3 class="text-center"><b>Select Your Package</b></h3>
    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
        <div class="panel panel-default" ng-repeat="services in serviceTypeList | orderBy : 'rank'">
            <div class="panel-heading" role="tab" id="headingOne{{$index}}">
                <h4 class="panel-title">
                    <label role="button" data-toggle="collapse" data-parent="#accordion"
                           data-target="#collapseOne{{$index}}" aria-expanded="true" aria-controls="collapseOne{{$index}}">
                        <input type="radio" ng-checked="$index == 0" name="packages">
                        <span>{{services.cat}} Package</span>
                    </label>
                    <span class="pull-right"><b>Rs.</b> {{services.price}}</span>
                </h4>
            </div>
            <div id="collapseOne{{$index}}" class="panel-collapse collapse in" role="tabpanel"
                 aria-labelledby="headingOne{{$index}}">
                <div class="panel-body">
                    <ul>
                        <li ng-repeat="data in services.features">{{data}}</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>