<div class="col-sm-4 col-sm-offset-4" oc-lazy-load="['formValidations']">
	<br/>
	<div class="panel panel-default">
		<div class="panel-heading">
			<span class="glyphicon glyphicon-user"></span>
			<b>Change Password</b>
		</div>
		<div class="panel-body">
			<form class="" name="changePasswordForm" my-validation novalidate>
				<div class="form-group">
					<label>Old Password</label>
					<input type="password" class="form-control" name="oldPassword"
						   required ng-model="changePasswordObj.oldPassword"
						   err-msg-required="Please enter your old password"
						   placeholder="old password">
				</div>
				<div class="form-group">
					<label>New Password</label>
					<input type="password" class="form-control" name="newPassword"
						   required ng-model="changePasswordObj.newPassword"
						   err-msg-required="Please enter your new password"
						   placeholder="new password">
				</div>
				<div class="form-group">
					<label>Confirm New Password</label>
					<input type="password" class="form-control" name="confirmNewPassword"
						   required ng-model="changePasswordObj.confirmNewPassword"
						   err-msg-required="Please confirm your new password"
						   err-msg-compareTo="Password is not matching"
						   compare-to="changePasswordObj.newPassword"
						   placeholder="confirm new password">
				</div>
				<div class="row">
					<div class="col-sm-3">
						<button class="btn btn-primary btn-block" ng-click="onChangePasswordCancelClick()">
							Cancel
						</button>
					</div>
					<div class="col-sm-6 pull-right">
						<button class="btn btn-primary btn-block" ng-click="onChangePasswordSubmitClick()">
							Change Password
						</button>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>